<h3 class="mt-4">Đăng ký khóa học</h3>

<form method='POST' action='/courses/store'>
    <div class='form-group mt-4'>
        <label for='name'>Tên khóa học</label>
        <input type='text' name='name' id='name' class='form-control'/>
    </div>
    <div class='form-group mt-4'>
        <label for='descripttion'>Mô tả</label>
        <input type='text' name='descripttion' id='descripttion' class='form-control'/>
    </div>
    <div class='form-group mt-4'>
        <label for='image'>Hình ảnh</label>
        <input type='text' name='image' id='image' class='form-control'/>
    </div>

    <button type='submit' class='btn btn-primary'>Thêm khóa học</button>
</form>