<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <a class='navbar-brand' href='/'>Trang chủ</a>
    <a class='navbar-brand' href='/'>Sản phẩm</a>
    <a class='navbar-brand' href='/'>Liên hệ</a>
</nav>